Source: nlutils-lp
Section: net
Priority: optional
Maintainer: Bryan Ward
Build-Depends:
  libnl-3-dev (>= 3.2.3-2~),
  libnl-genl-3-dev (>= 3.2.3-2~),
  libpcap-dev
Vcs-Git: https://github.com/bryanward-net/nlutils-lp.git
Rules-Requires-Root: no

Package: nlutils-lp
Architecture: linux-any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A command-line utility that scans for Wi-Fi networks using
 the 802.11 netlink API and outputs the scan results in Influx Line
 Protocol format. 
